.rating{
  margin: 0;
  padding: 0;
  color:#a9a9a9;
  cursor: pointer;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
.filled {
  color: #00ff21;
}
.right {
  float:right;
  clear:both;
}
.left {
  float:left;
  clear:both;
}


label {
  display: inline-block; 
  width: 114px; 
  text-align: right; 
}